*{
    font-family: 'Urbanist', sans-serif;
    margin: 0px;
    padding: 0px;
}
html{
    scroll-behavior: smooth;
}
body{
    background: #161A30;
    color: #B6BBC4;
}

nav{
    background-color: #31304d22;
    display: flex;
    height: 40px;
    justify-content: end;
    padding-right: 20px;
    position: sticky;
    top: 0px;
    z-index: 2;
    

}
nav:hover{
    background-color: #31304D;
}
nav ul{
    display: flex;
    align-items: center;



}

nav ul li a{
    text-decoration: none;
    color: #B6BBC4;
    padding: 10px;
    

    
}
a:hover{
    box-shadow:5px 5px 50px #F0ECE5;
}

section{
    position: relative;
}
section .inner{
    position:absolute;
    top: 45%;
    left: 60%;
}
.inner h1{
    color: #F0ECE5;
    font-size: 40px;

}




.name{
    -webkit-text-stroke: 3px #31304D;
    font-size: 3rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: transparent;
    position: relative;
    display: inline-block;
    
}
.name::before{
    content: 'Hi,My name is Jhon';
    position: absolute;
    color: #B6BBC4;
    border-right: 8px solid  #B6BBC4;
    width: 0%;
    height: 100%;
    overflow: hidden;
    transition: 1s ease-in-out;
}
.name:hover::before{
    width: 100%;
    filter: drop-shadow(0 0 25px  #B6BBC4);
}



.card{
    width:300px ;
    height: 200px;
    border-radius: 20px;
    border: 6px solid #B6BBC4;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 10px;
    flex: 1;

}

.card img{
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 12px;


}
.hoverdown{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 12px;

    justify-content: center;
    position: absolute;
    top:0;
    right: -480px;
    background-color: #B6BBC4;
    backdrop-filter: blur(5px);
    transition: 2s;
    
}
.card:hover .hoverdown{

    right: 0;
}

.hoverdown h1,p,button{
    
    margin-left: 13px;
    margin-top: 10px;
    color:rgb(6, 6, 6);
    
    
}
.hoverdown button{
    background-color: beige;
    color: rgb(39, 29, 18);
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 9px;
    width: 92%;
}

.cards{
    display: flex;
}












.vi{
    height: 400px;
    width: 100%;
    object-fit: cover;
    
}
@media screen and (max-width:700px) {
    nav{
        flex-direction: column;
        height: 200px;
        position: static;
    }
    nav ul{
        flex-direction: column;

    }
    li{
        margin: 10px;
    }
    
    .vi{
        height:0px;
        width:0px;
        overflow: hidden;
    }
    .me img,.inner h1{
        height:0px;
        width:0px;
        overflow: hidden;
    }
    .main p{
        max-height: fit-content;
    }
    .me{
        flex-direction: column;
        height: 100%;
        overflow: scroll;
        
    }
    .ab{
        flex-direction: column;
    }
    .cd,.cards{
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 800px;
    }
}


.me{
    display: flex;
    padding: 20px;
    height: 500px;
    background-color: black;
    align-items: center;
    position: relative;
    z-index: 1;
}
.main p{
    color:#F0ECE5;
    width: 65%;
    text-align: justify;

}
.me img{
    position: absolute;
    top:0;
    width: 20%;
    left: 70%;
    height: 100%;
    z-index: -1;
    
}
.main button{
    color: white;
    padding: 8px;
    border-radius: 6px;
    background-color: brown;
}

.center{
    padding: 10px;
    text-align: center;

}
.cd{
    display: flex;
    
    align-items: center;
    min-height: 50vh;
}
.pop{
    display: flex;
    margin: 40px;
    width: 400px;
    height: 200px;
    background-color: #F0ECE5;
    position: relative;
    justify-content: center;
    padding-bottom: 15px;

}
.pop h1{
    color: #161A30;
}

.popcard{
    position: absolute;
    width: 200px;
    height: 150px;
    background-color: antiquewhite;
    top: -50px;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.1);

    overflow: hidden;
}

.pop:hover{
    height: 350px;
    transition: 1s;


}
.pop:hover .popcard{
    width: 250px;
    height: 180px;
    transition: 1s;
}


.popcard img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.popcontent {
    display: flex;
    height: 100%;
    width: 100%;
    
    flex-direction: column;
    align-items: center;
    justify-content: end;
    position: relative;

    overflow: hidden;
    
    
    
    
}
.popd{
    position: absolute;
    text-align: center;
    bottom: -69px;

}
.pop:hover .popd{
    bottom: 0px;
    transition: 1s;

}
.p{
    text-align: center;
    margin: 10px;
}


.ab{
    display: flex;
    
    flex: 1;
  justify-content: space-around;
  margin: 30px;
  

    
}


.au p{
    color: #F0ECE5;
}
.ee{
    text-align: center;
}

li{
    transition: 1s;
}



